[MAIN]

#-----------------------------------------------------------
# Path to the config directory

config_dir: /etc/layman

#-----------------------------------------------------------
# Defines the directory where overlays should be installed

storage   : /portage/layman

#-----------------------------------------------------------
# Remote overlay lists will be stored here
# layman will append _md5(url).xml to each filename

cache     : %(storage)s/cache

#-----------------------------------------------------------
# The list of locally installed overlays

local_list: %(storage)s/overlays.xml

#-----------------------------------------------------------
# Path to the make.conf file that should be modified by 
# layman

make_conf : %(storage)s/make.conf

#-----------------------------------------------------------
# URLs of the remote lists of overlays (one per line) or 
# local overlay definitions
#
#overlays  : http://www.gentoo.org/proj/en/overlays/layman-global.txt
#            http://dev.gentoo.org/~wrobel/layman/global-overlays.xml
#            http://mydomain.org/my-layman-list.xml
#            file:///usr/portage/local/layman/my-list.xml

overlays  : http://www.gentoo.org/proj/en/overlays/layman-global.txt
	    http://dside.dyndns.org/darklin/layman.xml
	    http://rion-overlay.googlecode.com/files/rion-overlay.xml
	    http://aoliynik-overlay.googlecode.com/files/aoliynik-overlay.xml
	    file:///etc/layman/cleartype.xml
	    file:///etc/layman/qutim.xml
	    file:///etc/layman/watzke.xml


#-----------------------------------------------------------
# Proxy support
#
#proxy  : http://androl:2804410259@net-promoter.com:8080
nocheck: yes
